# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db

# Large temporary files / cache
data/raw/*.zip
data/raw/*.tar.gz
